<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% extends 'layouts.html' %}

{% block changeable_body %}
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <h2 class="text-center">Edit Profile</h2>    
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}  
            <div class="form-group">
                <label for="user_name"><b>Name:</b></label>
                <label type="text" class="form-control" name="user_name" id="user_name">{{user_info.0.user_name}} </label>
            </div>   
            <div class="form-group">
                <label for="mobile_phone"><b>Phone Number</b></label>
                <label type="text" class="form-control" name="mobile_phone" id="mobile_phone">{{user_info.0.user_phone_number}} </label>
            </div>
            <div class="form-group">
                <label for="user_mail"><b>Mail:</b></label>
                <label type="text" class="form-control" name="user_mail" id="user_mail">{{user_info.0.user_mail}} </label>
            </div>
            <div>
                <img src="{{user_info.0.user_picture}}" style="height: 200px; width: 300px;" alt="No picture added">
                <label for="user_picture_file">User picture:</label>
                <input type="file" name="user_picture_file" accept="image/*" id="user_picture_file">
            </div>
            <div class="form-group">
                <label for="user_name"><b>Password:</b></label>
                <input  value="{{user_info.0.user_password}}" type="password" class="form-control" name="user_password" id="user_password" required="required">
            </div>   
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </div>  
        </form>
    </div>
{% endblock changeable_body %}


{% block changeable_page_title %}
      Edit Profile Page
{% endblock changeable_page_title %}