<style>
	.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% extends 'layouts.html' %}

{% block changeable_body %}
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}
            <h2 class="text-center">Registration</h2>    
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}  
            <div class="form-group">
                <input type="text" class="form-control" name="user_name" id="user_name" placeholder="Enter Your Name" required="required">
            </div>   
            <div class="form-group">
                <input type="text" class="form-control" name="mobile_phone" id="mobile_phone" placeholder="Phone Number" required="required">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="user_mail" id="user_mail" placeholder="Mail address" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="user_password" id="user_password" placeholder="Enter your password" required="required">
                <small>*(password has to be at least 6 digits)</small>
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="user_confirm_password" id="user_confirm_password" placeholder="Confirm Password" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>       
        </form>
        <p class="text-center"><a href="{% url 'login_page' %}">Already have an account? Login.</a></p>
    </div>
{% endblock changeable_body %}


{% block changeable_page_title %}
      Registration Page
{% endblock changeable_page_title %}