<style>
	.login-form {
		width: 340px;
        height: 61.3%;
    	margin: 50px auto;
	}
    .login-form form {
        margin-top: 60%;
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>
{% extends 'layouts.html' %}

{% block changeable_body %}
    <div class="login-form">
        <form method="POST">
            {% csrf_token %}   
            {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}  
            <div>
                <h1>Wait until your previous post get accepted.</h1>
            </div>      
        </form>
    </div>
{% endblock changeable_body %}


{% block changeable_page_title %}
      Make A Post Page
{% endblock changeable_page_title %}