<style>
	.login-form {
		width: 340px;
        height: auto;
    	margin: 50px auto;
		margin-bottom: 152px;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {        
        font-size: 15px;
        font-weight: bold;
    }
</style>

{% extends 'layouts.html' %}

{% block changeable_body %}
<div class="login-form">
  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        {{ message }}
    </div>
  {% endfor %}   
</div>

<div>
	
	<div id="page">
		<div class="container">
			<div id="content" class="site-content">
				<div id="primary" class="content-area column full">
					<main id="main" class="site-main">
					<div class="grid portfoliogrid">
					
						<article class="hentry">
						<header class="entry-header">
							{% for post in all_post %}
									<div class="entry-thumbnail">
										<label hidden>{{post.id}}</label>
										<table>
											<tr>
												<td rowspan="2">
													<img src="{{ post.post_picture.url }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" style="width: 250px; height: 250px;" alt="p1"/>
												</td>
												<td style="width: 100px;"></td>
												<td >
													<h3><b>Product Price</b></h3>
													<p style="color: lavenderblush; font-size:x-large;">{{post.post_money}}/= tk</p>
												</td>
											</tr>
											<tr>
												<td style="width: 100px;"></td>
												<td> 
													<h3><b>Post Description:</b></h3>
													<p style="color: lavenderblush; font-size:x-large;">{{post.post_description|truncatechars_html:30}}</p>
												</td>
											</tr>
										</table>
										<br>
										<a href="{% url 'post_details' post_id=post.id %}">{{ post.post_title }} </a>
										<br> <br>
									</div>
							{% endfor %}
						<div class="entry-thumbnail">
							
						</div>
						
						</header>
						</article>
					</div>
					<!-- .grid -->
					<br/>
					</main>
					<!-- #main -->
				</div>
				<!-- #primary -->
			</div>
			<!-- #content -->
		</div>
		<!-- .container -->
		<a href="#top" class="smoothup" title="Back to top"><span class="genericon genericon-collapse"></span></a>
	</div>
</div>

{% endblock changeable_body %}

{% block changeable_page_title %}
      WA_x0r_AC | Used Product Online Shop
{% endblock changeable_page_title %}