{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% block changeable_page_title %}
      
    {% endblock changeable_page_title %}
</title>
{% block changeable_page_head %}
      
{% endblock changeable_page_head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" type="text/css" href="{% static 'main_app/style.css' %}">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,500,700%7CRoboto:400,500,700%7CHerr+Von+Muellerhoff:400,500,700%7CQuattrocento+Sans:400,500,700' type='text/css' media='all'/>


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<style>
    a{
        color: black;
        font-size: x-large;
        font-weight: 700;
        font-style: italic;
        align-content: center;
    }
    a:hover{
        color: sandybrown;
    }
</style>

<body style="background-color: darkcyan;">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">WA_x0r_AC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home_page' %}">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">
                             Home <span class="sr-only">(current)</span>
                        </button>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                
                    <form class="form-inline my-2 my-lg-0" method="post">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" type="text" name="search_name" id="search_name" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                
            </ul>
            <ul class="navbar-nav mr-lg-5" >
                {% if user.is_authenticated %}
                    <div class="dropdown" style="margin-right: 15px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.user.username}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: small;">
                            <a class="dropdown-item" href="{% url 'admin_page' %}"style="font-size: medium;">Admin Work Page</a>
                            <a class="dropdown-item" href="{% url 'syncronize_post' %}"style="font-size: medium;">Syncronize</a>
                            <a class="dropdown-item" href="{% url 'check_reports' %}"style="font-size: medium;">Check reports</a>
                            <a class="dropdown-item" href="/admin/logout/"style="font-size: medium;" type="submit">LogOut</a>
                        </div>
                    </div>
                {% elif request.session.user_name%}
                    <div class="dropdown" style="margin-right: 15px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{request.session.user_name}}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="font-size: small;">
                        <a class="dropdown-item" href="{% url 'edit_profile' %}"style="font-size: small;">Edit Profile</a>
                        <a class="dropdown-item" href="{% url 'wait_post' %}"style="font-size: small;">Make a Post</a>
                        <a class="dropdown-item" href="{% url 'logout' %}"style="font-size: small;" type="submit">LogOut</a>
                        </div>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login_page' %}">
                            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">
                                Login/Register
                            </button>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </nav>
    
    {% block changeable_body %}
      
    {% endblock changeable_body %}

    <div >
        <footer id="footer">
            <center>
                <div id="part2">
                    <i><p id="txt6">Copyright &copy; 2021. All right reserved by Asif Uddin Ahmed Hemel </p></i>
                </div>
            </center>
        </footer>
        
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>  
